Makefile
SilicaNote
SilicaNote.pro.user.927265a
obj/
SilicaNote.pro
SilicaNote.pro.user
*.autosave

*.o

debugfiles.list

debugfiles.list

debugfiles.list

debuglinks.list

debugsources.list

debugfiles.list

debuglinks.list

debugsources.list

debugsources.list

SilicaNote.pro.user.9be1fe1
