[Desktop Entry]
Type=Application
Name=SilicaNote
Icon=icon-launcher-gallery
Exec=invoker --type=j -s /opt/sdk/bin/SilicaNote
Comment=Sailfish UI application


